
body {
  background: white;
  color: gray;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  position: relative;
}

#awd-video-appbox {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: -1;
  &.overlay {
    z-index: 10000;
  }

  #player-view {
    background: rgba(255,255,255,.8);
  }

video {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.mejs-container,
.mejs-video video,
.mejs-layer {
  max-width: 100%;
  height: auto;
  max-height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
}

a:link, a:hover, a:active, a:visited {
  color: #666;
  text-decoration: none;
}

.column {
  max-width: 80%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .column { max-width: 1000px; }
}

.app-container {
  overflow: auto;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.fullscreen-placeholder {
  width: 0%;
  height: 100%;
}

.app-modal {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.grid-container {
  margin-left: 0%;
  margin-right: 0%;
}

.grid-item {
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
}

.grid-item:nth-child(2n+1) {
  clear: both;
}

@media screen and (max-width: 600px) {
  .grid-item {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .grid-item {
    width: 33.3333%;
  }

  .grid-item:nth-child(2n+1) {
    clear: none;
  }

  .grid-item:nth-child(3n+1) {
    clear: both;
  }
}

@media screen and (min-width: 1400px) {
  .grid-item {
    width: 25%;
  }
  .grid-item:nth-child(3n+1) {
    clear: none;
  }
  .grid-item:nth-child(4n+1) {
    clear: both;
  }
}


#menu-icons {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}

#close-the-app {
  display: block;
  padding: .85em 1em;
}

#list-shortcut i {
  display: block;
  padding: .85em 1em;
}

#scroll-view {
  background: black;
  background-color: rgba(0,0,0,.85);
  box-shadow: 0 0 10px silver;
  position: relative;
  min-height: 80%;
  padding: 10%;
}

#scroll-view:after {
  display: table;
  content: " ";
  clear: both;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  padding-top: 56.25%;
  padding-bottom: 2.5em;
  max-height: 80%;
  margin: auto;
}
#video-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0;
}
#controls {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -10em;
  height: 40px;
  line-height: 35px;
  cursor: pointer;
}

#controls a {
  display: block;
  position: absolute;
  height: 20em; width: 10%;
}

#controls a:hover {
}

#controls a .fa {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
}

#controls a .fa-chevron-left {
  left: 50%;
  margin-left: -.45em;
}
#controls a .fa-chevron-right {
  right: 50%;
  margin-right: -.45em;
}

#controls-back {
  left: 0;
}
#controls-next {
  right: 0;
}

#timeline {
  width: 100%;
  text-align: center;
  position: absolute;
  padding: .5em 0;
}
#timeline-duration {
  position: absolute;
  left: 0;
  top: 0px;
  height: 5px;
  width: 0;
  background: #ee0000;
  z-index: -1;
  display: none;
}
.playlist-view {
  display: block;
  position: relative;
}

.playlist-view:hover {
  cursor: default;
}

.playlist-view:hover .playlist-capsule-wrapper {
  background: transparent;
}

.playlist-capsule-wrapper {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 5px black;
  background: rgba(0,0,0,.5);

}

.out-of-playlist .playlist-capsule-wrapper {
  background: rgba(125,125,125,.75);
}

.vertical-center,
.playlist-capsule-title {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;
}

.vertical-center-container:after,
.playlist-capsule-wrapper:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

input.in-playlist-toggle {
  vertical-align: top;
}

#toggles {
  clear: both;
}

#toggles input {
  margin: .3em;
}

#toggles label {
  margin-left: .3em;
  font-size: .7em;
}

.sharing #sections {
  border-top: 1px solid white;
}

#advanced-playlist {
  float: right;
}

#advanced-playlist .fa-close {
  display: none;
}
.sharing #advanced-playlist .fa-close {
  display: inline;
}
.sharing #advanced-playlist .fa-share-square-o {
  display: none;
}

#toggles a{
  display: inline-block;
  border-radius: .35em;
  color: white;
  padding: .5em;
  font-size: .75em;
  margin: .3em;
  cursor: pointer;
}

.playlist-selector .in-playlist-toggle {
  display: none;
}

#toggles #playlist-url {
  width: 90%;
  background: transparent;
  color: white;
  border: 1px dotted gray;
  padding: .5em;
  display: block;
}

}
