/* line 1, ../sass/theme.scss */
#awd-video-appbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  display: none;
  /* Removes annoying blue outlines when interacting */
}
/* line 10, ../sass/theme.scss */
#awd-video-appbox *:focus {
  outline: none;
}
/* line 12, ../sass/theme.scss */
#awd-video-appbox.overlay {
  z-index: 10000;
  display: block;
}
/* line 17, ../sass/theme.scss */
#awd-video-appbox #player-view {
  background: rgba(255, 255, 255, 0.9);
}
/* line 21, ../sass/theme.scss */
#awd-video-appbox video {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
/* line 30, ../sass/theme.scss */
#awd-video-appbox .mejs-container,
#awd-video-appbox .mejs-video video,
#awd-video-appbox .mejs-layer {
  max-width: 100%;
  height: auto;
  max-height: auto;
}
/* line 36, ../sass/theme.scss */
#awd-video-appbox img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 41, ../sass/theme.scss */
#awd-video-appbox ul {
  padding: 0;
  margin: 0;
}
/* line 46, ../sass/theme.scss */
#awd-video-appbox a:link, #awd-video-appbox a:hover, #awd-video-appbox a:active, #awd-video-appbox a:visited {
  color: #666;
  text-decoration: none;
}
/* line 51, ../sass/theme.scss */
#awd-video-appbox .column {
  max-width: 80%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  /* line 56, ../sass/theme.scss */
  #awd-video-appbox .column {
    max-width: 1000px;
  }
}
/* line 60, ../sass/theme.scss */
#awd-video-appbox .app-container,
#awd-video-appbox #player-view {
  overflow: auto;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 72, ../sass/theme.scss */
#awd-video-appbox .fullscreen-placeholder {
  width: 0%;
  height: 100%;
}
/* line 77, ../sass/theme.scss */
#awd-video-appbox .app-modal {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 87, ../sass/theme.scss */
#awd-video-appbox .grid-container {
  margin-left: 0%;
  margin-right: 0%;
}
/* line 92, ../sass/theme.scss */
#awd-video-appbox .grid-item {
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
}
/* line 99, ../sass/theme.scss */
#awd-video-appbox .grid-item:nth-child(2n+1) {
  clear: both;
}
@media screen and (max-width: 600px) {
  /* line 104, ../sass/theme.scss */
  #awd-video-appbox .grid-item {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  /* line 110, ../sass/theme.scss */
  #awd-video-appbox .grid-item {
    width: 33.3333%;
  }
  /* line 114, ../sass/theme.scss */
  #awd-video-appbox .grid-item:nth-child(2n+1) {
    clear: none;
  }
  /* line 118, ../sass/theme.scss */
  #awd-video-appbox .grid-item:nth-child(3n+1) {
    clear: both;
  }
}
@media screen and (min-width: 1400px) {
  /* line 124, ../sass/theme.scss */
  #awd-video-appbox .grid-item {
    width: 25%;
  }
  /* line 127, ../sass/theme.scss */
  #awd-video-appbox .grid-item:nth-child(3n+1) {
    clear: none;
  }
  /* line 130, ../sass/theme.scss */
  #awd-video-appbox .grid-item:nth-child(4n+1) {
    clear: both;
  }
}
/* line 136, ../sass/theme.scss */
#awd-video-appbox #menu-icons {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}
/* line 144, ../sass/theme.scss */
#awd-video-appbox #close-the-app {
  display: block;
  padding: .85em 1em;
}
/* line 149, ../sass/theme.scss */
#awd-video-appbox #list-shortcut i {
  display: block;
  padding: .85em 1em;
}
/* line 154, ../sass/theme.scss */
#awd-video-appbox #scroll-view {
  background: black;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px silver;
  position: relative;
  min-height: 80%;
  padding: 10%;
}
/* line 163, ../sass/theme.scss */
#awd-video-appbox #scroll-view:after {
  display: table;
  content: " ";
  clear: both;
}
/* line 169, ../sass/theme.scss */
#awd-video-appbox #controls-wrapper {
  width: 80%;
  margin: auto;
  display: table;
  height: 100%;
}
/* line 174, ../sass/theme.scss */
#awd-video-appbox #controls-wrapper .vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 181, ../sass/theme.scss */
#awd-video-appbox #screen {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  padding-top: 56.25%;
  margin: auto;
  overflow: hidden;
}
/* line 191, ../sass/theme.scss */
#awd-video-appbox #video-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
/* line 198, ../sass/theme.scss */
#awd-video-appbox #controls {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -10em;
  height: 40px;
  line-height: 35px;
  cursor: pointer;
}
/* line 208, ../sass/theme.scss */
#awd-video-appbox #controls a {
  display: block;
  position: absolute;
  height: 20em;
  width: 10%;
}
/* line 217, ../sass/theme.scss */
#awd-video-appbox #controls a .fa {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
}
/* line 223, ../sass/theme.scss */
#awd-video-appbox #controls a .fa-chevron-left {
  left: 50%;
  margin-left: -.45em;
}
/* line 227, ../sass/theme.scss */
#awd-video-appbox #controls a .fa-chevron-right {
  right: 50%;
  margin-right: -.45em;
}
/* line 232, ../sass/theme.scss */
#awd-video-appbox #controls-back {
  left: 0;
}
/* line 235, ../sass/theme.scss */
#awd-video-appbox #controls-next {
  right: 0;
}
/* line 239, ../sass/theme.scss */
#awd-video-appbox #timeline {
  width: 100%;
  padding: .5em 0;
  text-align: left;
}
/* line 244, ../sass/theme.scss */
#awd-video-appbox #timeline-duration {
  position: absolute;
  left: 0;
  top: 0px;
  height: 5px;
  width: 0;
  background: #ee0000;
  z-index: -1;
  display: none;
}
/* line 254, ../sass/theme.scss */
#awd-video-appbox .playlist-view {
  display: block;
  position: relative;
}
/* line 259, ../sass/theme.scss */
#awd-video-appbox .playlist-view:hover {
  cursor: default;
}
/* line 263, ../sass/theme.scss */
#awd-video-appbox .playlist-view:hover .playlist-capsule-wrapper {
  background: transparent;
}
/* line 267, ../sass/theme.scss */
#awd-video-appbox .playlist-capsule-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 5px black;
  background: rgba(0, 0, 0, 0.5);
}
/* line 280, ../sass/theme.scss */
#awd-video-appbox .out-of-playlist .playlist-capsule-wrapper {
  background: rgba(125, 125, 125, 0.75);
}
/* line 285, ../sass/theme.scss */
#awd-video-appbox .vertical-center,
#awd-video-appbox .playlist-capsule-title {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;
}
/* line 292, ../sass/theme.scss */
#awd-video-appbox .vertical-center-container:after,
#awd-video-appbox .playlist-capsule-wrapper:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 299, ../sass/theme.scss */
#awd-video-appbox input.in-playlist-toggle {
  vertical-align: top;
}
/* line 303, ../sass/theme.scss */
#awd-video-appbox #toggles {
  clear: both;
}
/* line 307, ../sass/theme.scss */
#awd-video-appbox #toggles input {
  margin: .3em;
}
/* line 311, ../sass/theme.scss */
#awd-video-appbox #toggles label {
  margin-left: .3em;
  font-size: .7em;
}
/* line 316, ../sass/theme.scss */
#awd-video-appbox .sharing #sections {
  border-top: 1px solid white;
}
/* line 320, ../sass/theme.scss */
#awd-video-appbox #advanced-playlist {
  float: right;
}
/* line 324, ../sass/theme.scss */
#awd-video-appbox #advanced-playlist .fa-close {
  display: none;
}
/* line 327, ../sass/theme.scss */
#awd-video-appbox .sharing #advanced-playlist .fa-close {
  display: inline;
}
/* line 330, ../sass/theme.scss */
#awd-video-appbox .sharing #advanced-playlist .fa-share-square-o {
  display: none;
}
/* line 334, ../sass/theme.scss */
#awd-video-appbox #toggles a {
  display: inline-block;
  border-radius: .35em;
  color: white;
  padding: .5em;
  font-size: .75em;
  margin: .3em;
  cursor: pointer;
}
/* line 344, ../sass/theme.scss */
#awd-video-appbox .playlist-selector .in-playlist-toggle {
  display: none;
}
/* line 348, ../sass/theme.scss */
#awd-video-appbox #toggles #playlist-url {
  width: 90%;
  background: transparent;
  color: white;
  border: 1px dotted gray;
  padding: .5em;
  display: block;
}
